body{
/*! font-family: 'Jua', sans-serif; */
font-family: 'Noto Sans KR', sans-serif;
}

/* 공통 */
html,body{
  scrollTop:100px; 
}
.box{
  height: box;
}
#title{
  /*! height: 100%; */
}
.box h2{
  text-align: center;
  font-size: 40px;
  line-height: 3;
  text-transform: uppercase;
  color: black;
}
.eng{
  font-family: 'Cardo', serif;
  color: white;
}
/* 상단영역 */
header{
 height: 100px;
 position: absolute;
 width: 100%;
 text-align: center;
 padding-top: 50px;
}
.rot12{
  transform: rotate(12deg);
}
header h1{
  
  /*! float: left; */
  /*! border: 2px solid; */
  position: fixed;
  left: 36px;
  padding-left: 30px;
  overflow: hidden;
  padding: 15px;
  top: 46px;
}
header::before{
  content: "";
  width: 340px;
  height: 65px;
  display: block;
  background-color: #fff0;
  position: fixed;
  left: 0;
  top:42px;
  
  border-radius: 0 20px 20px 0;
}
header h1 a{
  display: block;
}
header h1 a span{
  display: inline-block;
  font-size: 25px;
  transition: all 1s;
  animation-name:rot12;
  animation-duration:1s;
  animation-iteration-count:1;
  animation-fill-mode: forwards ;
  animation-timing-function:cubic-bezier(0,.88,.07,1.25);
  opacity: 0;
  transform-origin: 100% 100%;
  transform:translateY(100%); 
}
@keyframes rot12{
  0%{
  transform: translate(-20%,-100%) scale(0.4);  
  }
  50%{
  transform:  translate(20%, 0%) scale(1);
  }
  100%{
    transform:  translate(0%, 0%) scale(1);
    opacity: 1;
  }
}
header h1 a span:nth-child(1){
  animation-delay: 0.3;
  font-weight: bold;
  font-family: 'Cardo', serif;
  color: white;
}
header h1 a span:nth-child(2){
  animation-delay: 0.6s;
  font-weight: bold;
}
header h1 a span:nth-child(3){
  animation-delay: 0.9s; 
  font-size: 18px;
  font-weight: 10;
  color: white;
}
header h1 a span:nth-child(4){
  animation-delay: 1.2s;  
}
header h1 a span:nth-child(5){
  animation-delay: 1.5s;  
}
header h1 a span:nth-child(6){
  animation-delay: 1.8s;  
}
header h1 a span:nth-child(7){
  animation-delay: 2.1s;  
}
header h1 a span:nth-child(8){
  animation-delay: 2.4s;  
}
header h1 a span:nth-child(9){
  animation-delay: 2.7s;  
}
.slide{
  transition: all 1s;
  position: absolute;
  left: 0;
  opacity: 0;
  width: 18%;
}
.slide li{
  display:block;
  
}
.slide a{
  transition: all 1s;
  transform-origin: 0 50%;
}
.current{
  color: #c9e6e2;
  transform: scale(1.5) !important;
 }
.slidingmenu{
  display: block;
  position: fixed;
  top: 162px;
  text-align: left;
  left: 52px;
  opacity: 1;
  z-index: 1;
}
.slidingmenuBack{
  left: -120px;
  opacity: 0;
}
.slidingmenu li{
  display: block;
}
.slidingmenu li a{
  line-height: 2;
  display: block;
  font-size: 20px;
}

header ul{
  /*! border: 2px solid; */
  display: inline-block;
  float: right;
  margin-right: 200px;
  width: 36%;
}

header ul.menu li{
  display: inline-block;
  width: 28%;
}
header ul li a{
  text-transform:uppercase;
  font-size: 23px;
}
header span.lang{
  
  position: absolute;
  right: 0;
  padding-right: 30px;
  width: 7%;
}
header span.lang button{
  padding: 3px 11px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0 1%;
  cursor: pointer;
}

/*  타이틀  */
#title{
  /*! background-color: #ccc; */
  background-image: url(../img/main4.jpg);
  background-size: 100%;
  padding-top: 300px;
  padding-bottom: 300px;
  background-repeat: no-repeat;
  background-position-y: -283px;
}
#title hgroup{
  max-width: 1200px;
  margin: 0 auto;
}
#title hgroup h2{
  font-size: 26px;
  line-height:1.6;
  animation-name: h2t;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: reverse ;
  color: #fff;
}
@keyframes h2t{
  100%{
    transform: translateY(-100%);
    opacity: 0;
  }
}
#title hgroup h3{
  font-size: 21px;
  color: #fff;
   animation-name: h3t;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: reverse ;
  animation-fill-mode:backwards ;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 10;
}
@keyframes h3t{
  100%{
    transform: translateY(20%);
    opacity: 0;
  }
}


#profile{
  /*! background: #ffb8b8; */
}

#profile .profilein{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
#profile .profilein .left{
  display: inline-block;
  width: 300px;
  border: #fff 10px solid;
}
#profile .profilein .right{
  display: inline-block;
  vertical-align: top;
  background: #4e82b2;
  padding: 20px;
  margin-left: 100px;
  border: #fff 10px solid;
}
#profile .profilein .right h3{
  line-height: 3;
  color: #fff;
  font-size: 20px;
}
#profile .profilein .right ul{
  
}
#profile .profilein .right ul li{
  line-height: 3;
  color: #fff;
}
#profile .profilein .right ul li span{
  
}
body[data-aos-duration="400"] [data-aos] {
    transition-duration: 2.4s !important;
}


#portfolio{
  background-color: #4e82b2;
}
#portfolio::before{
  content:"";
  width: 600px;
  height: 100px;
  display: block;
  background-color: #b3dde1;
  transform: skewX(-45deg) translateX(-600px);
}
#portfolio .portfolioin{
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 80px;
  overflow: hidden;
  padding: 30px 0;
  /*! width: 90%; */
  padding-bottom: 100px;
}
.slick-slide img{
  width: 100%;
}
#portfolio .portfolioin .detail{
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.slick-current:hover .detail{
  opacity: 1 !important;
}
#portfolio .portfolioin .detail h3{
  text-align: center;
  line-height: 3;
  margin-top:30px;
}
#portfolio .portfolioin .detail p{
 text-align: center; 
}
#portfolio .portfolioin .detail a{
  display: block;
  width: 130px;
  margin:0 auto;
  text-align: center;
}
.slick-prev{
  left: 25px !important;
  z-index: 3;
}
.slick-next{
  right: 25px !important;
  z-index: 3;
}
.slick-dots{
  bottom: -70px !important;
}
.slick-list{
  overflow: initial !important;
}
.slick-slide{
  transition: all 0.5s;
  opacity: 0.5;
}
.slick-current{
  transform: scale(1.2);
  opacity: 1;
  position: relative;
  z-index: 2;
}
/* 웹디자인작품*/
#portfolio .design{
  text-align: center;
}
#portfolio .design h3{
  margin: 200px 0 50px;
  font-size: 50px;
  font-family: 'Cardo', serif;
  color: black;
}
#portfolio .design ul{
  display: inline-block;
  vertical-align: top;
}
#portfolio .design ul li{
  float: left;
  margin: 25px;
}
#portfolio .design ul img{
  padding: 30px 0;
  width: 400px;
  height: 400px;
  transition: all 1s;
  position: relative;
  border-radius: 30%;
}
#portfolio .design ul img:hover{
  transform: scale(1.2);
}
#portfolio .design ul a{
  position: relative;
  display: block;
}
#portfolio .design ul a:hover img{
  transform: scale(1.2);
}
#portfolio .design ul a:hover::before{
  content: "상세 이미지 보기";
  position: absolute;
  left: calc(50% - 85px);
  top: 43%;
  z-index: 3;
  width: 100%;
  text-align: center;
  background-color: rgba(250,250,250,0.6);
  width: 150px;
  padding: 15px 0;
  
  animation-name: textshow;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-iteration-count: 1;
}
@keyframes textshow{
  100%{
    opacity: 0;
  }
}
#portfolio .design ul li:nth-child(4){
}
#portfolio .design ul li:nth-child(5){
  position: absolute;
}
#portfolio .design ul li:nth-child(6){
  
}

#contact{
  background-color: #b4dee8;
}
footer{
  background-color: #333;
}
.home{
  position: fixed;
  right: 1%;
  bottom: 5%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: black;
  border: none;
  cursor: pointer;
}
.home::before{
  content:"<";
  transform: rotate(90deg) scaleY(2.5);
  position: absolute;
  top: -35px;
  left: 21px;
  font-size:13px;
  animation-name:top;
  animation-iteration-count: infinite;
  animation-duration:2s;
  animation-direction: alternate;
}
@keyframes top{
  /*50%{
    top:-50px;
  }*/
  100%{
    transform: rotate(90deg) scaleY(2.5) translateX(-20px);
    color:#fff;
  }
}





